* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

body {
    background-color: whitesmoke;
    
  }

body {
    display: flex;
    background-image: url("../src/assets/pete-godfrey-unsplash.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
  }

.container {
    display: flex;
    justify-content: space-between;

}

.navbar a {
    text-decoration: none;
}

.img1 {
  image-rendering: auto;
  border: black solid 2px;
  width: 400px;
  height: auto;
  margin: 2px;
}

.img2 {
  image-rendering: auto;
  border: black solid 2px;
  width: 400px;
  height: auto;
  margin: 2px;
}