* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

.body {
    background-color: rgb(204, 202, 202);
    background-image: url("../src/assets/pete-godfrey-unsplash.jpg");
    background-size: 100vw 25vh;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: space-between;

}

a {
    text-decoration: none;
}

.img1, .img2 {
  image-rendering: auto;
  border: black solid 2px;
  width: 400px;
  height: auto;
  
}



.photo {
  image-rendering: auto;
  border: black solid 2px;
  width: 100px;
  height: auto;
  margin: 2px;
  border-radius: 50%;
}

.resume {
  color: #0d6efd;
}

.nav-links a{
  color: black;
  font-weight: bold;
}

#name {
  color: black;
  font-family: 'Brygada 1918', serif ;
  font-style: italic;
  font-size: 36px;
}

#about, #contact {
  color: #0d6efd;
}

.footer {
  font-size: 24px;
  align-items: end;
  justify-content: center;
}

#project a {
  color: #0d6efd;
  text-decoration: none;
}

#username-warning, #email-warning, #message-warning {
  display: none;
}

.container {
  justify-content: center;
  align-items: center;
}


